@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*HEADER SECTION*/
.Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 17px;
    position: fixed;
    background-color: #fff;
}

.Navigation .logo{
    margin-left: 2rem;
    color: #666f77;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin-right: 30px;
}

.nav li{
    list-style: none;
    font-size: 17px;
}

.nav a{
    text-decoration: none;
    color: #555f66;
}

.sign-up{
    padding: 9px 9px;
    width: 6rem;
    border-radius: 5px;
    background-color: #629DD1;
    color: #ffff;
    border: none;
    font-size: 15px;
    font-weight: 600rem;
    text-transform: uppercase;
}

/*HEADER SECTION END*/

/*HERO SECTION*/
.hero_section{
  background-image: url(./images/pexels-joyston-judah-331625-933054.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 250px;
  height: 798px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.hero_section-text{
    text-align: center;
    margin-top: 170px;
}

.hero_section-title{
    font-size: 4rem;
    letter-spacing: 0.125em;
    color: #ffff;
    margin-bottom: 20px;
}

.hero_section-subtitle{
    color: #d8d8d8;
    margin-bottom: 40px;
    font-size: 1.8rem;
}


.sign-up2{
    padding: 19px 100px;
    border-radius: 7px;
    background-color: #629DD1;
    color: #ffff;
    border: none;
    font-size: 20px;
    text-decoration: none;
    margin-right: 7px;
}

.learn-more{
    padding: 18px 80px;
    border-radius: 7px;
    background-color: transparent;
    color: #ffff;
    border: 1px solid white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 7px;
}

/*HERO SECTION END*/

/*CARD SECTION*/

.card_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 250px;
    width: 100%;
    height: auto;
}

.card_Section-title{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #666f77;
    font-weight: 300;
}

.card_Section-subtitle{
    font-size: 25px;
    color: #bbb;
    font-weight: 300;
}

.card_section-cards{
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.card-title{
    font-size: 20px;
    margin: 30px;
    color: #666f77;
    text-transform: uppercase;
}

.description{
    line-height: 30px;
    color: #555f66;
}

.card_Section-card1{
    border:  1px solid #a3a5a7;
    padding: 40px 32px;
    border-radius: 5px;
}

.card_Section-card2{
    border:  1px solid #a3a5a7;
    padding: 40px 32px;
    border-radius: 5px;
}


.card_Section-card3{
    border:  1px solid #a3a5a7;
    padding: 40px 32px;
    border-radius: 5px;
}

.card-icons{
    font-size: 90px;
    text-align: center;
    margin-top: 10px;
    background-color: #629DD1;
    border-radius: 50px;
    color: #fff;
    padding: 0px 20px;
}

/*CARD SECTION END*/

/*DARK SECTION*/

.dark_section{
    background-color: #192024;
    text-align: center;
    width: 100%;
    padding: 100px 250px;
}
.dark_Section-title{
    color: #ffff;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

.dark_Section-description{
    color: #a3a5a7;
    margin-bottom: 60px;
    font-size: 28px;
    text-transform: capitalize;
}

.dark-img{
   width: 100%;
   height: 300px;
   border-radius: 5px;
}


.dark_section-content-flex{
    display: flex;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.dark_section-title{
    color: #ffff;
    font-size: 22px;
    margin: 20px;
}

.dark_Section-left p{
    line-height: 29px;
    margin-bottom: 26px;
    color: #c5c7c8;
}

.dark_Section-left-learn-more{
    color: #ffff;
    border: 1px solid #ffff;
    background-color: #192024;
    padding: 10px 40px;
    border-radius: 5px;
}

.dark_Section-right p{
    line-height: 29px;
    margin-bottom: 26px;
    color: #c5c7c8;
}

/*DARK SECTION END*/

/*LIGHT SECTION*/

.light{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 250px;
    color: #666f77;
}

.light-right-title{
    font-size: 21px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: #666f77;
}

.light-right p{
    line-height: 35px;
    margin-bottom: 30px;
    color: #555f66;
    font-size: 20px;
    font-weight: 300;
}

.light-right-links li{
    list-style: none;
    line-height: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

.light-right-links a{
    text-decoration: underline;
    color: #629DD1;
   font-size: 20px;
   font-weight: 300;
}


.light-left-title{
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 300;
}

.light-left p{
    line-height: 35px;
    border-bottom: 70px;
    /*text-align: justify;*/
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px;
}

.light-left img{
    width:100%;
    height: 400px;
    border-radius: 5px;
}

.btn{
    height: 50px;
    padding: 0px 30px;
    font-size: 20px;
    margin-bottom: 50px;
    color: #666f77;
    border: 1px solid #a3a5a7;
    font-weight: 200;
    background-color: #fff;
    border-radius: 5px;
}

.light-right hr{
    margin-bottom: 50px;
}
/*LIGHT SECTION END*/
/*FOOTER SECTION
.footer{
    display: flex;
    justify-content: space-around;
    gap: 90px;
    align-items: center;
    width: 100%;
    padding: 100px;
    background-color: #f8f8f8;
    
}

.footer_left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer_links li{
    list-style: none;
    line-height: 30px;
}

.footer_links a{
    text-decoration: underline;
    color: #bbb;
}

.footer_right{
    border: 1px solid black;
    padding: 0 60px;
}
.footer_right h2{
    margin-bottom: 3rem;
}

.footer_right p{
    font-size: 20px;
    font-weight: 600rem;
}*/
/*FOOTER SECTION END*/

.footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    background-color: #f5f5f5;
    color: #555;
    gap: 150px;
  }
  
  .footer-column {
    /*flex: 1;*/
    min-width: 250px;
    /*border: 1px solid red;*/
  }
  
  .footer-column h3 {
    font-size: 25px;
    letter-spacing: 2px;
    color: #777;
    margin-bottom: 50px;
    font-weight: 300;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 30px;
  }
  
  .footer-column ul li a {
    text-decoration: underline;
    color: #777;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }
  
  .footer-column ul li a:hover {
    color: #000;
  }
  
  .footer-column p {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 300;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: #bbb;
    margin: 0px 20px;
    font-size: 30px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #333;
  }
